
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared desighn */
.text-span{
    color: #FD630A;
}
.text-align{
    text-align: center;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background: #b1ef99;
    font-weight: bold;
    color: #e7854d;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-detail{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}

/* header style */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav bar css */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-contant{
    max-width: 500px;
}

.banner-gretting{
     font-size: 45px;
     font-weight: 600;
     color: #474747;
     opacity: 0.6;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #000000;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}
/* about styles */
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-weight: 600;
}
.item-description{
    color: #757575;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

/* skill section styles */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
padding: 30px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
border-radius: 5px;
margin-top: 30px;
}
/* resume container styles */
.section-title{
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 40px;
}
.experience-description{
    color: #757575;
}
.experience-subtitle{
    color: #757575;
    font-size: 20px;
}
.experinece-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-btn{
    margin-top: 50px;
}
/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
height: 64px;
border-radius: 5px;
background-color: white;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 24px;
border: none;
}